@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-50 font-nixie antialiased mx-3 lg:mx-6;
  }

  h1 {
    @apply font-barlow text-2xl font-bold text-center mb-7;
  }

  p {
    @apply text-justify mb-4;
  }
}
