{% extends 'base.html.twig' %}

{% block title %}
  Hello TestController!
{% endblock %}

{% block body %}
  <div class="w-full lg:w-5/6 align-top mx-auto mt-16 p-8 border-2 border-solid border-color-black relative">
    <p class="text-3xl absolute -top-6 left-10 px-4 bg-gray-50">Erreur 404 :</p>
    <div class="w-full mb-2 mx-auto relative">
      <img class="w-full opacity-15" src="{{ asset('images/404.jpg') }}" alt="404-background" />
      <div class="absolute top-32 px-20">
        <p class="text-xl text-red-800 font-bold">Oups… La page recherchée ne semble pas exister.</p>
        <p class="text-xl font-bold">Si vous souhaitez acceder au site internet de Judith Chancrin, cliquez ici :</p>
        <div class="flex justify-center">
          <a href="#"><div class="btn btn-lg btn-outline">Retour Site</div></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
